<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.bigeyessolution.FestivalEdesio" version="1">
    <name>Festival Edésio Santos</name>
    <description>
        Aplicativo oficial do Festival Edésio Santos de canção.
        * Notícias
        * Fotos
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <preference name="stay-in-webview" value="true" /> 
    <preference name="orientation" value="portrait"/>
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="false"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="true"/>
    <preference name="BackgroundColor" value="0x00000000"/>
    <preference name="AutoHideSplashScreen" value="true"/>
    <preference name="android-minSdkVersion" value="15"/>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="splash.png"/>
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon-36-ldpi.png"/>
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon-48-mdpi.png"/>
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon-72-hdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon-96-xhdpi.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/splash-ldpi.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/splash-mdpi.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/splash-hdpi.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/splash-xhdpi.png"/>
    <gap:splash src="splash.png"/>
    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.splashscreen"/>
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.adobe.plugins.gaplugin"/>
</widget>
