/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body, .ui-page, .ui-content { width: 100%; height: 100%;}

@font-face {
    font-family: bradhitc;
    src: url('bradhitc.ttf');
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;    
    font-family: bradhitc !important;              /* prevent copy paste, to allow, change 'none' to 'text' */
}

fieldset{
    margin-top: 2em !important;
}


label{
    font-family: bradhitc !important;
}

.ui-body{
    margin-bottom: 150px;       
}

.btn-voltar {
    background-color: transparent !important;
    border: none;
    font-family: bradhitc !important;
    font-size: 1em !important;
    color: #d10304 !important;
}

.ui-header {
    border: 0;
}

.header-voltar-scrl {
    /*background-color: #d2ae6e !important;*/
    background-color: rgba(255, 255, 255, 0.8) !important;
    /*opacity: 0.7*/
}

img[src='img/logo.png'] {
    margin-top: 1em;
    height: 30%;
    
}

img[src='img/ponte.png'] {
    width: 100%;
    height: auto;
}

#inicio .ui-content {
    text-align: center;
    margin-bottom: 0;
}

.ui-content {
    text-align: justify;
    margin-bottom: 0;
}

#inicio .ui-content .ui-body {
    width: 80%;
    margin: 0 auto;
}

#inicio ul li a{
    padding: 1em 1em 1em 4em;
    background-image: url('../img/btn-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    font-family: bradhitc;
}

.ui-page, .ui-content {
    background-repeat: no-repeat;
}

.ui-page {
    height: 100%;
    
    background-image: url('../img/background.jpg');
    background-position: top center;
    background-size: cover;
}

.ui-content {
}

#inicio .ui-content {
    padding: 0;
}

.p_paragrafo{
    font-family: bradhitc;
    padding: 0 1em 0 1em;
}

.titulo{
    text-align: center;    
}
.div_paragrafo{
    text-align: center;
    margin-top: 2.5em;
}
.h_paragrafo{
    margin-top: 1.5em;
    text-align: center;
    font-family: bradhitc;
}

.img_paragrafo{
    width: 100%;
    height: auto;
    margin-left: 1.5 em;
    margin-right: 1.5em;
}

.ui-footer{
    background-color: transparent !important;
    border-color: transparent !important;
    background-image: url('../img/ponte.png');
    background-position: bottom center;
    min-height: 149px;
    opacity: 1;
    border-width: none !important;
    border-style: none !important;
}


.ads iframe{
    pointer-events:none;
}